{% extends 'cliente/plantilla.html' %}
{% block content %}
{% load static %}
<div class="row">
    <div class="col-12">
        <div class="card mb-3">
            <div class="bg-holder d-none d-lg-block bg-card"
                style="background-image:url(assets/img/illustrations/corner-4.png);">
            </div>
            <!--/.bg-holder-->
            <div class="card-body position-relative">
                <div class="row">
                    <div class="col-lg-8">
                        <h3 class="text-primary">Bienvenido *NombreUsuario!</h3>
                        <p class="lead">Plan Domestico</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card mb-3 btn-reveal-trigger">
            <div class="card-header d-flex flex-between-center pb-0">
                <h6 class="mb-0">Weather</h6>
                <div class="dropdown font-sans-serif btn-reveal-trigger">
                    <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal dropdown-caret-none"
                        type="button" id="dropdown-weather-update" data-bs-toggle="dropdown" data-boundary="viewport"
                        aria-haspopup="true" aria-expanded="false"><span
                            class="fas fa-ellipsis-h fs--2"></span></button>
                    <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown-weather-update">
                        <a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                    </div>
                </div>
            </div>
            <div class="card-body pt-2">
                <div class="row g-0 h-100 align-items-center">
                    <div class="col">
                        <div class="d-flex align-items-center"><img class="me-3"
                                src="{% static 'assets/img/icons/weather-icon.png' %}" alt="" height="60" />
                            <div>
                                <h6 class="mb-2">New York City</h6>
                                <div class="fs--2 fw-semi-bold">
                                    <div class="text-warning">Sunny</div>Precipitation:
                                    50%
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto text-center ps-2">
                        <div class="fs-4 fw-normal font-sans-serif text-primary mb-1 lh-1">
                            31&deg;</div>
                        <div class="fs--1 text-800">32&deg; / 25&deg;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}