{% extends 'cliente/plantilla.html' %}
{% block content %}
{% load static %}
<div class="card">
    <div class="card-body overflow-hidden p-lg-6">
        <div class="row align-items-center">
            <div class="col-lg-6 ps-lg-4 my-5 text-center text-lg-start">
                <h2 class="text-success">Plan Domestico</h2>
                <p class="lead">12/02/2020 - 12/03/2020</p>
                <h3 class="text-primary">S/. 100.00</h3>
            </div>
        </div>
    </div>
</div>
{% endblock content %}